html body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container .top-container {
    height: 48px;
    background-color: #2564cf;
}

.container .top-container .apps-icon,
.container .top-container .to-do-link,
.container .top-container .search-bar,
.container .bottom-container .left-side .sidebar-top .selective .left-side-icon,
.container .bottom-container .left-side .sidebar-top .selective .selective-info {
    display: inline-block;
    vertical-align: middle;
}

.container .bottom-container .left-side .sidebar-top .selective {
    height: 45px;
}

.container .top-container .to-do-link {
    height: 25px;
    width: 60px;
    text-align: center;
    margin: 0px;
}

.container .top-container .to-do-link .to-do {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.container .top-container .to-do-link a:hover {
    text-decoration: underline;
}


.container .top-container .apps-icon,
.container .top-container .right-corner .settings-icon,
.container .top-container .right-corner .help-icon {
    vertical-align: middle;
    background-color: #2564cf;
    color: #ffffff;
    height: 48px;
    width: 48px;
    border: 0ch;
}

.container .top-container .apps-icon:hover,
.container .top-container .right-corner button:hover,
.container .top-container .right-corner button:hover {
    cursor: pointer;
    background-color: #215aba;
}

.container .top-container .search-bar:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

.container .top-container .right-corner {
    display: inline-block;
    width: 36%;
    text-align: right;
}

.container .top-container .apps-icon .material-icons,
.container .top-container .right-corner .settings-icon .material-icons,
.container .top-container .right-corner .help-icon .material-icons { 
    font-size: 20px;
}

.container .top-container .search-bar {
    border: 0ch;
    background-color: #ffffff;
    text-align: left;
    width: 32.5%;
    height: 32px;
    margin-left: 21%;
    border-radius: 5px;
}

.container .top-container .search-bar .material-icons {
    color: #2564cf;
    transform: scaleX(-1);
    margin-top: 3px;
}

.container .bottom-container .left-side .sidebar-top {
    display: inline-block;
    font-size: 14px;
    list-style: none;
    padding-left: 0px;
    width: 290px;
}

.container .bottom-container .left-side {
    box-shadow: 3px 0px 2px #faf9f8;
    display: inline-block;
}

.container .bottom-container .left-side .sidebar-top .selective .left-side-icon .material-icons {
    vertical-align: middle;
    padding-left: 23px;
    color: #3f3e3d;
}

.container .bottom-container .left-side .sidebar-top .selective .selective-info {
    margin-left: 15px;
    vertical-align: middle;
}

.container .bottom-container .left-side .sidebar-top .selective:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

.container .bottom-container .left-side .menu-icon {
    margin-top: 29px;
    margin-left: 23px;
}

.container .bottom-container .left-side .menu-icon .material-icons:hover{
    cursor: pointer;
}

.container .bottom-container .left-side hr {
    width: 250px;
    height: 0.1px;
    border-radius: 0.5px;
    border: 0px;
    background-color: gray;
    opacity: 0.4;
}

.container .bottom-container .left-side .sidebar-center .add-new-list .left-side-icon,
.container .bottom-container .left-side .sidebar-center .add-new-list p {
    display: inline-block;
}


.container .bottom-container .left-side .sidebar-center .add-new-list p {
    vertical-align: middle;
}