html body {
    margin: 0px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}

.container .top-container {
    height: 48px;
    background-color: #2564cf;
}

.container .bottom-container .left-side {
    background-color: white;
    height: 560px;
    width: 290px;
    margin-top: 0px;
}

.container .bottom-container .left-side .sidebar-content .sidebar-category .category .material-icons,
.container .bottom-container .left-side .sidebar-content .sidebar-category .category .category-text,
.container .bottom-container .left-side .sidebar-content .sidebar-category .category-selected .category-text,
.container .top-container .apps-icon,
.container .top-container .to-do-link,
.container .top-container .search-bar {
    display: inline-block;
}

.container .top-container .apps-icon,
.container .top-container .to-do-link,
.container .top-container .search-bar {
    vertical-align: middle;
}

.container .bottom-container .left-side .sidebar-content .sidebar-category .category .category-id,
.container .bottom-container .left-side .sidebar-content .sidebar-category .category-selected .category-id {
    display: none;
}

.container .bottom-container .left-side .sidebar-content .sidebar-category .category {
    height: 45px;
}

.container .bottom-container .left-side .sidebar-content .sidebar-category .category-selected {
    height: 45px;
}

.container .bottom-container .left-side .sidebar-content .sidebar-category .category .material-icons,
.container .bottom-container .left-side .sidebar-content .sidebar-category .category-selected .material-icons {
    padding-left: 23px;
    vertical-align: middle;
    color: #3f3e3d;
}

.container .bottom-container .left-side .sidebar-content .sidebar-category .category .category-text,
.container .bottom-container .left-side .sidebar-content .sidebar-category .category-selected .category-text {
    margin-left: 15px;
    vertical-align: middle;
}

.container .bottom-container .left-side .sidebar-content .sidebar-category .category p,
.container .bottom-container .left-side .sidebar-content .sidebar-category .category-selected p,
.container .bottom-container .left-side .sidebar-content .sidebar-category .category i,
.container .bottom-container .left-side .sidebar-content .sidebar-category .category-selected i,
.container .bottom-container .center .center-main .task-list-container .task-list li .task-info p,
.container .bottom-container .center .center-main .task-list-container .task-list li .task-info {
    pointer-events: none;
}

.container .top-container .to-do-link {
    height: 25px;
    width: 60px;
    text-align: center;
    margin: 0px;
}

.container .top-container .to-do-link .to-do {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.container .top-container .to-do-link a:hover {
    text-decoration: underline;
}

.container .top-container .apps-icon,
.container .top-container .right-corner .settings-icon,
.container .top-container .right-corner .help-icon,
.container .top-container .right-corner .whats-new-icon,
.container .top-container .right-corner .account-icon {
    vertical-align: middle;
    background-color: #2564cf;
    color: #ffffff;
    height: 48px;
    width: 48px;
    border: 0ch;
}

.container .top-container .apps-icon:hover,
.container .top-container .right-corner button:hover,
.container .top-container .right-corner button:hover {
    cursor: pointer;
    background-color: #215aba;
}

.container .top-container .search-bar:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

.container .top-container .right-corner {
    display: inline-block;
    width: 36%;
    text-align: right;
}

.container .top-container .apps-icon .material-icons,
.container .top-container .right-corner .settings-icon .material-icons,
.container .top-container .right-corner .help-icon .material-icons {
    font-size: 20px;
}

.container .top-container .search-bar {
    border: 0ch;
    background-color: #ffffff;
    text-align: left;
    width: 32.5%;
    height: 32px;
    margin-left: 21%;
    border-radius: 5px;
}

.container .top-container .search-bar .material-icons {
    color: #2564cf;
    transform: scaleX(-1);
    margin-top: 3px;
}

.container .bottom-container .left-side .sidebar-content .sidebar-category {
    display: inline-block;
    font-size: 14px;
    list-style: none;
    padding-left: 0px;
    width: 273px;
    margin-top: 3px;
    margin-bottom: 2px;
}

.container .bottom-container .left-side .sidebar-content .sidebar-category .category-selected {
    background-color: #eff6fc;
    font-weight: bold;
}

.container .bottom-container .left-side .sidebar-content .sidebar-category .category:hover,
.container .bottom-container .center .center-main .task-list-container .task-list li:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

.container .bottom-container .left-side .sidebar-content .sidebar-center ul {
    padding-left: 48px;
}

.container .bottom-container .left-side .sidebar-content .sidebar-center ul li {
    padding-left: 20px;
}

.container .bottom-container .left-side .menu-icon {
    margin-top: 28px;
    margin-bottom: 0px;
    margin-left: 23px;
}

.container .bottom-container .left-side .menu-icon .material-icons:hover {
    cursor: pointer;
}

.container .bottom-container .left-side hr {
    width: 230px;
    height: 0.1px;
    border-radius: 0.5px;
    border: 0px;
    background-color: gray;
    opacity: 0.4;
}

.container .bottom-container .left-side .sidebar-center .add-new-list,
.container .bottom-container .left-side .sidebar-center .create-group-icon {
    display: inline-block;
    vertical-align: middle;
}

.container .bottom-container .left-side .sidebar-center .add-new-list {
    color: #2564cf;
    width: 198px;
    padding-left: 23px;
}

.container .bottom-container .left-side .sidebar-content .sidebar-center .add-new-list:hover,
.container .bottom-container .left-side .sidebar-content .sidebar-center .add-new-list .new-list-text input:hover {
    background-color: #f5f5f5;
}

.container .bottom-container .left-side .sidebar-content {
    height: 450px;
}

.container .bottom-container .left-side .sidebar-content,
.container .bottom-container .center .center-main .task-list-container {
    overflow-y: auto;
}

.container .bottom-container .left-side .sidebar-center .add-new-list .left-side-icon,
.container .bottom-container .left-side .sidebar-center .add-new-list .new-list-text,
.container .bottom-container .left-side .sidebar-center .add-new-list .new-list-text .left-side-icon,
.container .bottom-container .left-side .sidebar-center .add-new-list .new-list-text input {
    display: inline-block;
    vertical-align: middle;
}

.container .bottom-container .left-side .sidebar-center .add-new-list .new-list-text {
    margin-left: 15px;
    font-size: 14px;
}

.container .bottom-container .left-side .sidebar-center .add-new-list .new-list-text input {
    border: 0px none;
    outline: none;
    width: 150px;
    height: 50px;
}

.container .bottom-container .left-side .sidebar-center .add-new-list .new-list-text input::placeholder,
.container .bottom-container .center .center-main .task-list-origin .to-do-input input::placeholder {
    color: #2564cf;
}

.container .bottom-container .left-side .sidebar-center .create-group-icon {
    color: #2564cf;
    padding: 10px;
}

.container .bottom-container .left-side .sidebar-center .create-group-icon:hover {
    background-color: #f5f5f5;
}

.container .bottom-container .left-side .sidebar-bottom .accessibility {
    display: inline-block;
    padding: 15px 15px 15px 15px;
    margin: 0px;
}

.container .bottom-container .left-side .sidebar-bottom .accessibility .material-icons {
    font-size: 21px;
}

.container .bottom-container .left-side .sidebar-bottom .accessibility:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.container .bottom-container .center {
    height: 560px;
    width: 47%;
}

.container .bottom-container .left-side,
.container .bottom-container .center {
    display: inline-block;
    vertical-align: middle;
}

.container .bottom-container .center .center-head {
    margin: 28px 0px 28px 28px;
}

.container .bottom-container .center .center-head .center-head-icon,
.container .bottom-container .center .center-head .center-head-desc {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
}

.container .bottom-container .center .center-head .center-head-icon {
    margin-right: 8px;
    vertical-align: middle;
}

.container .bottom-container .center .center-head .center-head-icon:hover {
    cursor: pointer;
}

.container .bottom-container .center .center-head .center-head-desc p {
    margin-bottom: 0px;
    margin-top: 0px;
}

.container .bottom-container .center .center-head {
    width: 80%
}

.container .bottom-container .center .center-head .date-info {
    font-size: small;
    color: gray;
}

.container .bottom-container .center .center-main .task-list-origin {
    background-color: white;
    height: 110px;
    margin-left: 25px;
    text-align: left;
    box-shadow: 1px 1px 3px gray;
    border-radius: 3px;
}

.container .bottom-container .center .center-main .task-list-origin i,
.container .bottom-container .center .center-main .task-list-origin .to-do-input {
    display: inline-block;
    vertical-align: middle;
}

.container .bottom-container .center .center-main .task-list-origin .unchecked-circle {
    display: inline-block;
    margin-left: 6.5%;
}

.container .bottom-container .center .center-main .task-list-origin .to-do-input {
    width: 80%;
}

.container .bottom-container .center .center-main {
    width: 100%;
}

.container .bottom-container .center .center-main .task-list-origin .to-do-input input {
    height: 53px;
    width: 100%;
    border: 0px none;
    outline: none;
    font-size: 15px;
}

.container .bottom-container .center .center-main .task-list-origin .to-do-input {
    padding: 0px 20px 0px 20px;
}

.container .bottom-container .center .center-main .task-list-origin .origin-feature {
    height: 45px;
    text-align: left;
    background-color: #f5f5f5;
    padding: 2% 0% 0% 5%;
}

.container .bottom-container .center .center-main .task-list-origin .origin-feature .material-icons {
    margin-right: 2%;
}

.container .bottom-container .center .center-main .task-list-origin .origin-feature .material-icons:hover {
    cursor: pointer;
    background-color: #ffffff;
}

.container .bottom-container .center .center-main .task-list-container {
    height: 333px;
    width: 100%;
}

.container .bottom-container .center .center-main .task-list-container .task-list {
    list-style: none;
    padding-left: 25px;
}

.container .bottom-container .center .center-main .task-list-container .task-list li {
    height: 50px;
    width: 99.8%;
    display: block;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 1px 0px 3px grey;
}

.container .bottom-container .center .center-main .task-list-container .task-list li i,
.container .bottom-container .center .center-main .task-list-container .task-list li .task-info {
    display: inline-block;
}

.container .bottom-container .center .center-main .task-list-container .task-list li .task-info {
    font-size: 13px;
    color: gray;
    height: 50px;
    width: 69%;
    vertical-align: middle;
    margin-bottom: 5px;
}

.container .bottom-container .center .center-main .task-list-container .task-list li .task-info .task-name,
.container .bottom-container .center .center-main .task-list-container .task-list li .task-info .completed-task-name {
    margin: 5px 0px 0px 0px;
    font-size: 15px;
    color: black;
}

.container .bottom-container .center .center-main .task-list-container .task-list li .task-info .labels {
    margin: 0px 0px 5px 0px;
}

.container .bottom-container .center .center-main .task-list-container .task-list li i {
    vertical-align: middle;
    margin: 0% 5% 0% 7%;
}

.container .bottom-container .center .center-main .task-list-container .task-list li i {
    color: #2564cf;
    height: 25px;
}

.container .bottom-container .center .center-main .task-list-origin .origin-feature .add-task {
    margin-left: 66%;
    display: inline-block;
    border: 1px solid gray;
    background-color: #ffffff;
    font-size: 13px;
    height: 28px;
    width: 38px;
}

.container .bottom-container .center .center-main .task-list-origin .origin-feature .add-task:hover {
    cursor: pointer;
    background-color: #fafafa;
}

.container .bottom-container .center .center-main .task-list-origin .origin-feature .add-task div {
    text-align: center;
    margin-top: 4px;
}

.container .bottom-container .right-side {
    display: inline-block;
    vertical-align: top;
    margin-left: 6px;
    height: 560px;
    padding: 0px 20px 0px 30px;
    box-shadow: 1px 1px 3px gray;
    width: 24.9%;
    background-color: #faf9f8;
}

.container .bottom-container .right-side .right-side-top {
    height: 470px;
}

.container .bottom-container .right-side .right-side-top .right-side-main {
    font-size: 15px;
    margin-top: 20px;
    height: 100%;
    width: 300px;
}

.container .bottom-container .right-side .right-side-top .right-side-main .task-console .task-steps i,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .task-steps p,
.container .bottom-container .right-side .right-side-top .right-side-main .selected-task i,
.container .bottom-container .right-side .right-side-top .right-side-main .selected-task p {
    display: inline-block;
    margin: 0px;
}

.container .bottom-container .right-side .right-side-top .right-side-main .selected-task p {
    padding-left: 16px;
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    pointer-events: none;
}

.container .bottom-container .right-side .right-side-top .right-side-main .task-console .task-steps p {
    padding-left: 16px;
    width: 200px;
    font-size: 14px;
}

.container .bottom-container .right-side .right-side-top .right-side-main .selected-task,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .task-steps {
    padding: 16px;
}

.container .bottom-container .right-side .right-side-top .right-side-main .selected-task {
    background-color: #ffffff;
    color: #2564cf;
}

.container .bottom-container .right-side .right-side-top .right-side-main .selected-task:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

.container .bottom-container .right-side .right-side-bottom {
    font-size: 13px;
    margin-top: 20px;
}


.container .bottom-container .right-side .right-side-bottom .hide-right-side,
.container .bottom-container .right-side .right-side-bottom .task-created-at,
.container .bottom-container .right-side .right-side-bottom .delete-selected-task,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .my-day-status i,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .my-day-status p,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .reminder p,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .reminder i,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .due-date p,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .due-date i,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .repeat-task p,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .repeat-task i,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .pick-category i,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .pick-category p,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .add-file p,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .add-file i {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    color: gray;
}

.container .bottom-container .right-side .right-side-bottom .task-created-at p {
    width: 210px;
    margin: 0px 0px 9px 0px;
    text-align: center;
}

.container .bottom-container .right-side hr {
    width: 300px;
    height: 0.1px;
    border-radius: 0.5px;
    border: 0px;
    margin-right: 20px;
    background-color: gray;
    opacity: 0.4;
}

.container .bottom-container .right-side .right-side-top .right-side-main .task-console .my-day-status,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .task-steps,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .reminder,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .due-date,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .repeat-task,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .pick-category,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .add-file {
    background-color: #ffffff;
    border-radius: 2px;
}

.container .bottom-container .right-side .right-side-top .right-side-main .task-console .selected-task-note {
    width: 298px;
    height: 95px;
    background-color: #ffffff
}

.container .bottom-container .right-side .right-side-top .right-side-main .task-console .selected-task-note .add-note {
    border: 0px;
    outline: none;
    width: 95%;
    margin-left: 10px;
    height: 70%;
}

.container .bottom-container .right-side .right-side-top .right-side-main .task-console .selected-task-note .update-status {
    margin-left: 10px;
}

.container .bottom-container .right-side .right-side-top .right-side-main .task-console .selected-task-note .update-status p {
    margin: 0px;
    font-size: 13px;
    opacity: 0.6;
}

.container .bottom-container .right-side .right-side-top .right-side-main .task-console .my-day-status,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .reminder,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .pick-category,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .add-file,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .selected-task-note {
    margin-top: 10px;
}

.container .bottom-container .right-side .right-side-top .right-side-main .task-console .selected-task-note {
    margin-bottom: 10px;
}

.container .bottom-container .right-side .right-side-top .right-side-main .task-console .due-date,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .repeat-task {
    margin-top: 2px;
}

.container .bottom-container .right-side .right-side-top .right-side-main .task-console {
    height: 90%;
    overflow-y: auto;
}

.container .bottom-container .right-side .right-side-top .right-side-main .task-console::-webkit-scrollbar {
    display: none;
}

.container .bottom-container .right-side .right-side-top .right-side-main .task-console .my-day-status:hover,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .task-steps:hover,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .reminder:hover,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .due-date:hover,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .repeat-task:hover,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .pick-category:hover,
.container .bottom-container .right-side .right-side-top .right-side-main .task-console .add-file:hover {
    background-color: #faf9f8;
    cursor: pointer;
}

.container .bottom-container .right-side .right-side-bottom .hide-right-side:hover,
.container .bottom-container .right-side .right-side-bottom .delete-selected-task:hover {
    background-color: #ffffff;
    cursor: pointer;
}


/* For dynamic html */
.container .bottom-container .right-side-closed {
    display: none;
}

.container .bottom-container .center-right-wide {
    height: 560px;
    width: 74%;
}

.container .bottom-container .center-right-wide .center-main .task-list-origin {
    box-shadow: 0px 7px 4px grey;
}

.container .bottom-container .center-right-wide .center-main .task-list-container .task-list li .task-info {
    width: 72%;
}

.container .bottom-container .center .center-main .task-list-container .task-list .user-selected-task {
    background-color: #eff6fc;
}

.container .bottom-container .center .center-main .task-list-container .task-list .user-selected-task:hover {
    background-color: #eff6fc;
}

.container .bottom-container .right-side .right-side-top .right-side-main .task-console .pick-category .material-icons {
    transform: scaleX(-1);
}

.container .bottom-container .right-side .right-side-top .right-side-main .task-console .add-file i {
    transform: rotate(230deg);
}

.container .bottom-container .center-right-wide .center-main .task-list-origin .origin-feature .add-task {
    margin-left: 73%;
}

.container .bottom-container .right-side .right-side-top .right-side-main .selected-task .completed-task-name {
    opacity: 0.6;
    text-decoration: line-through;
}

.container .bottom-container .center .center-main .task-list-container .task-list li .task-info .completed-task-name {
    text-decoration: line-through;
    opacity: 0.6;
}

/* Dynamic ends here*/